@import "../../styles/variables";

.component-list {
    padding: 0;

    >li {
        position: relative;
        background-color: #fff;
        border-radius: 15px;
        display: flex;
        list-style: none;
        overflow: hidden;
        margin-bottom: 2rem;

        &:nth-of-type(odd) {

            .desc-text {
                order: 2;
            }

            .desc-image {
                order: 1;
            }
        }

        &.rounded-bg-white {
            padding: 0;
        }

        .desc-text {
            width: 50%;
            padding: 25px;

            .book-btn {
                display: flex;
                justify-content: center;

                a {
                    color: $primaryColor;
                    background-color: $secondaryColor;
                    border-radius: 10px;
                    text-decoration: none;
                    font-family: 'chakra_regular';
                    font-size: 1.25rem;
                    padding: 10px 20px;
                    transition: color .25s ease-in-out;

                    &:hover {
                        color: $tertiaryColor;
                    }
                }
            }
        }

        .desc-image {
            width: 50%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

}