@font-face {
    font-family: 'brittany';
    src: url('../fonts/brittanysignature-webfont.woff2') format('woff2'),
        url('../fonts/brittanysignature-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}