@import "variables";

//// FONTS.
.font-brittany {
    font-family: 'brittany';
}

.font-chakra {
    font-family: 'chakra_regular';
}

//// COLORS.
.primary-color {
    color: $primaryColor;
}

.secondary-color {
    color: $secondaryColor;
}

.tertiary-color {
    color: $tertiaryColor;
}

//// TEXT.
/// 
// Sizes.
.txt-xs {
    font-size: .75rem;
}

.txt-sm {
    font-size: 1rem;
}

.txt-md {
    font-size: 1.25rem;
}

.txt-lg {
    font-size: 1.5rem;
}

.txt-xl {
    font-size: 1.75rem;
}

.txt-xxl {
    font-size: 2rem;
}

// Alignments.
.txt-left {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

//// SPACES.
/// 

// Margins.
.no-margin {
    margin: 0;
}

// Margin top.
.mt-sm {
    margin-top: 1rem;
}

.mt-md {
    margin-top: 1.25rem;
}

.mt-lg {
    margin-top: 1.5rem;
}

// Margin bottom.
.mb-xxs {
    margin-bottom: .5rem;
}

.mb-xs {
    margin-bottom: .75rem;
}

.mb-sm {
    margin-bottom: 1rem;
}

.mb-md {
    margin-bottom: 1.25rem;
}

.mb-lg {
    margin-bottom: 1.5rem;
}

//// DISPLAYS.
/// 
.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-b {
    display: inline-block;
}