@import "../styles/variables";

.border-effect-white {
    border: 1px solid lighten($primaryColor, 10%);
    outline: 1px solid darken($primaryColor, 10%);
}

.border-effect-white-bt {
    border-bottom: 1px solid lighten($primaryColor, 10%);
    outline: 1px solid darken($primaryColor, 10%);
}

.border-effect-blue {
    border: 1px solid lighten($secondaryColor, 10%) !important;
    outline: 1px solid darken($secondaryColor, 10%) !important;
}

.border-effect-blue-bt {
    border-bottom: 1px solid lighten($secondaryColor, 10%);
    outline: 1px solid darken($secondaryColor, 10%);
}

.component-title {
    margin-top: 5rem;
}