@import "../styles/variables";

.border-effect-blue {
    border: 1px solid lighten($secondaryColor, 10%);
    outline: 1px solid darken($secondaryColor, 10%);
}

.component-title {
    margin-top: 5rem;
}