@import "../../styles/variables";

// Background.
.rounded-bg-white {
    padding: 25px 50px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 25px;
    border: 1px solid darken($primaryColor, 15%);
    box-shadow:
        3px 3px 0 darken($primaryColor, 5%),
        -1px -1px 0 darken($primaryColor, 5%),
        1px -1px 0 darken($primaryColor, 5%),
        -1px 1px 0 darken($primaryColor, 5%),
        1px 1px 0 darken($primaryColor, 5%);
}

.dicton {

    p {
        margin: 0;
    }
}