@import "../../styles/variables";

.indicates-required,
.mc-field-group {
    width: 100% !important;
}

#send-btn {

    input {
        margin-top: 0;
        margin-left: 0;
        cursor: pointer !important;
        color: $primaryColor;
        background-color: $secondaryColor;
        border-radius: 10px;
        text-decoration: none;
        font-family: 'chakra_regular';
        font-size: 1.25rem;
        padding: 10px 20px;
        transition: color .25s ease-in-out;

        &:hover {
            color: $tertiaryColor;
        }
    }
}