@import "../../styles/variables";

.slider-item {
    text-align: center;

    h3 {
        font-size: 4rem;
        font-weight: unset;
        margin-top: .5rem;
        margin-bottom: 2rem;
    }

    @supports (-webkit-text-stroke: 1px $primaryColor) {
        h3 {
            -webkit-text-fill-color: lighten($secondaryColor, 10%);
            -webkit-text-stroke: .5px $secondaryColor;
            text-shadow:
                3px 3px 0 darken($secondaryColor, 25%),
                -1px -1px 0 darken($secondaryColor, 25%),
                1px -1px 0 darken($secondaryColor, 25%),
                -1px 1px 0 darken($secondaryColor, 25%),
                1px 1px 0 darken($secondaryColor, 25%);
        }
    }

    a {
        display: block;

        &:focus-visible {
            outline: none;
        }
    }

    // Testimonials.
    #testi-text {
        position: relative;
        max-width: 65%;
        margin: 0 auto;
        padding-bottom: 24px;

        &::before {
            content: 'ʻʻ';
            transform: translate(-150%, -32%);
            position: absolute;
            line-height: 1;
            font-size: 8rem;
            letter-spacing: -1rem;
            color: darken($secondaryColor, 15%);
        }

        &::after {
            content: 'ʼʼ';
            transform: translate(25%, 5%);
            position: absolute;
            line-height: 1;
            font-size: 8rem;
            letter-spacing: -1rem;
            color: darken($secondaryColor, 15%);
            z-index: 5;
        }
    }
}

.pastille {
    text-align: center;
    width: 50%;
    display: unset !important;
}

.slider-component {
    position: relative;
    // overflow: hidden;
    margin-top: 1.5rem;
    // margin-bottom: 0;
    // padding-bottom: 50px;

    .bg-image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 15%;
        // width: 100%;
        // height: calc(100% - 52px);
        // position: absolute;
        // background-image: url('http://localhost:8080/components_bg/flower.jpg');
        // /* Add the blur effect */
        // filter: blur(0px);
        // -webkit-filter: blur(0px);
        // /* Center and scale the image nicely */
        // background-position-y: 15%;
        // background-position-x: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        // margin-top: 1px;
    }

    .bg {
        width: 100%;
        height: calc(100% - 52px);
        position: absolute;
        background-color: $secondaryColor;
        background-image: url('../../../public/images/logo_circle_transp.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
}

//// Slider.
/// Overrides.
.slick-slider {

    .slick-list {
        padding: 1rem 0;
    }

    .slick-arrow {

        &::before {
            font-size: 25px !important;
        }
    }

    .slick-dots {
        position: relative;
        bottom: 0;
        padding-bottom: 1rem;

        li button::before {
            font-size: 10px !important;
        }
    }
}