@import "../../styles/variables";

.slider-item {
    text-align: center;

    h3 {
        font-size: 4rem;
        font-weight: unset;
        margin-top: .5rem;
        margin-bottom: 2rem;
    }

    @supports (-webkit-text-stroke: 1px $primaryColor) {
        h3 {
            -webkit-text-fill-color: lighten($secondaryColor, 10%);
            -webkit-text-stroke: .5px $secondaryColor;
            text-shadow:
                3px 3px 0 darken($secondaryColor, 25%),
                -1px -1px 0 darken($secondaryColor, 25%),
                1px -1px 0 darken($secondaryColor, 25%),
                -1px 1px 0 darken($secondaryColor, 25%),
                1px 1px 0 darken($secondaryColor, 25%);
        }
    }
}

.pastille {
    text-align: center;
    width: 50%;
    display: unset !important;
}

.slider-component {
    position: relative;
    overflow: hidden;
    padding: 50px 0;

    .bg-image {
        width: 100%;
        height: calc(100% - 50px);
        position: absolute;
        background-image: url('http://localhost:8080/components_bg/flower.jpg');
        /* Add the blur effect */
        filter: blur(0px);
        -webkit-filter: blur(0px);
        /* Center and scale the image nicely */
        background-position-y: 15%;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg {
        width: 100%;
        height: calc(100% - 51px);
        position: absolute;
        background-color: $secondaryColor;
        background-image: url('../../../public/images/logo_circle_transp.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
}

//// Slider.
/// Overrides.
.slick-slider {
    margin-top: 50px;

    .slick-arrow {

        &::before {
            font-size: 25px !important;
        }
    }

    .slick-dots {

        li button::before {
            font-size: 10px !important;
        }
    }
}